<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated fig1 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="internship.moda.fig1.presentation.Fig1ModelWizardID"
            name="%_UI_Fig1ModelWizard_label"
            class="internship.moda.fig1.presentation.Fig1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Fig1ModelFile.gif">
         <description>%_UI_Fig1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated fig1 -->
      <editor
            id="internship.moda.fig1.presentation.Fig1EditorID"
            name="%_UI_Fig1Editor_label"
            icon="icons/full/obj16/Fig1ModelFile.gif"
            extensions="fig1"
            class="internship.moda.fig1.presentation.Fig1Editor"
            contributorClass="internship.moda.fig1.presentation.Fig1ActionBarContributor">
      </editor>
   </extension>

</plugin>
